.about_content-left {
  max-width: 50%;
  margin-top: 5em;
}

.about_main_title {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.3em;
  margin-bottom: 1em;
}

.about-main-img {
  max-width: 25em;
  margin-bottom: 5em;
  margin-left: 3em;
  position: relative;
  z-index: 2;
}

.about-imgs {
  background: url("@/public/about/Rectangle.svg") no-repeat center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.about-vector {
  width: 100%;
  position: absolute;
  top: -1;
  left: 0;
  z-index: 1;
  background: url("@/public/about/Vector.svg") no-repeat center;
  margin-top: 5em;
}
